In [110]:
import numpy as np
import pandas as pd

from IPython.display import display

In [114]:
def calculate_lambdas_ir(p_table, lambda_we):
  ilosc_kolejek = p_table.shape[1] - 2 #odejmujemy wejscie i wyjscie
  A = np.zeros((ilosc_kolejek, ilosc_kolejek))
  np.fill_diagonal(A, 1)
  b = lambda_we * p_table[0][1:-1]
  for row_i, p_row in enumerate(p_table):
    if row_i >=1 and row_i<=A.shape[0]:
      A[row_i -1] = A[row_i -1] - p_table[row_i][1:-1]
    
  A = np.transpose(A)
  return np.linalg.solve(A, b)

In [48]:
columns = ["Wejście",
           "Lądowanie",
          "Przegląd",
          "Serwis",
          "Tankowanie",
          "Pasażerowie",
          "Wylot", 
           "Wyjscie"]

## Klasa: Samoloty Krótkodystansowe

In [112]:
p_shortdist = np.zeros((len(columns), len(columns)))
p_shortdist[0][1] = 1
p_shortdist[1][2] = 1
p_shortdist[2][3] = 0.1
p_shortdist[2][4] = 0.2
p_shortdist[2][5] = 0.7
p_shortdist[3][2] = 1
p_shortdist[4][5] = 1
p_shortdist[5][6] = 1
p_shortdist[6][7] = 1

df_p_shortdist = pd.DataFrame(p_shortdist, columns = columns, index = columns)
display(df_p_shortdist)
print("\n Sprawdzanie sumy wierszami")
display(df_p_shortdist.sum(axis=1))

             Wejście  Lądowanie  Przegląd  ...  Pasażerowie  Wylot  Wyjscie
Wejście          0.0        1.0       0.0  ...          0.0    0.0      0.0
Lądowanie        0.0        0.0       1.0  ...          0.0    0.0      0.0
Przegląd         0.0        0.0       0.0  ...          0.7    0.0      0.0
Serwis           0.0        0.0       1.0  ...          0.0    0.0      0.0
Tankowanie       0.0        0.0       0.0  ...          1.0    0.0      0.0
Pasażerowie      0.0        0.0       0.0  ...          0.0    1.0      0.0
Wylot            0.0        0.0       0.0  ...          0.0    0.0      1.0
Wyjscie          0.0        0.0       0.0  ...          0.0    0.0      0.0

[8 rows x 8 columns]

 Sprawdzanie sumy wierszami

Wejście        1.0
Lądowanie      1.0
Przegląd       1.0
Serwis         1.0
Tankowanie     1.0
Pasażerowie    1.0
Wylot          1.0
Wyjscie        0.0
dtype: float64

## Klasa: Samoloty Długodystansowe

In [113]:
p_longdist = np.zeros((len(columns), len(columns)))
p_longdist[0][1] = 1
p_longdist[1][2] = 1
p_longdist[2][3] = 0.1
p_longdist[2][4] = 0.9
p_longdist[3][2] = 1
p_longdist[4][5] = 1
p_longdist[5][6] = 1
p_longdist[6][7] = 1

df_p_longdist = pd.DataFrame(p_longdist, columns = columns, index = columns)
display(df_p_longdist)
print("\n Sprawdzanie sumy wierszami")
display(df_p_longdist.sum(axis=1))

             Wejście  Lądowanie  Przegląd  ...  Pasażerowie  Wylot  Wyjscie
Wejście          0.0        1.0       0.0  ...          0.0    0.0      0.0
Lądowanie        0.0        0.0       1.0  ...          0.0    0.0      0.0
Przegląd         0.0        0.0       0.0  ...          0.0    0.0      0.0
Serwis           0.0        0.0       1.0  ...          0.0    0.0      0.0
Tankowanie       0.0        0.0       0.0  ...          1.0    0.0      0.0
Pasażerowie      0.0        0.0       0.0  ...          0.0    1.0      0.0
Wylot            0.0        0.0       0.0  ...          0.0    0.0      1.0
Wyjscie          0.0        0.0       0.0  ...          0.0    0.0      0.0

[8 rows x 8 columns]

 Sprawdzanie sumy wierszami

Wejście        1.0
Lądowanie      1.0
Przegląd       1.0
Serwis         1.0
Tankowanie     1.0
Pasażerowie    1.0
Wylot          1.0
Wyjscie        0.0
dtype: float64

## Klasa: Samoloty Towarowe

In [116]:
columns = ["Wejście",
           "Lądowanie",
          "Przegląd",
          "Serwis",
          "Tankowanie",
          "Towary",
          "Wylot", 
           "Wyjscie"]

In [117]:
p_transport = np.zeros((len(columns), len(columns)))
p_transport[0][1] = 1
p_transport[1][2] = 1
p_transport[2][3] = 0.1
p_transport[2][4] = 0.7
p_transport[2][5] = 0.2
p_transport[3][2] = 1
p_transport[4][5] = 1
p_transport[5][6] = 1
p_transport[6][7] = 1

df_p_transport = pd.DataFrame(p_transport, columns = columns, index = columns)
display(df_p_transport)
print("\n Sprawdzanie sumy wierszami")
display(df_p_transport.sum(axis=1))

            Wejście  Lądowanie  Przegląd  ...  Towary  Wylot  Wyjscie
Wejście         0.0        1.0       0.0  ...     0.0    0.0      0.0
Lądowanie       0.0        0.0       1.0  ...     0.0    0.0      0.0
Przegląd        0.0        0.0       0.0  ...     0.2    0.0      0.0
Serwis          0.0        0.0       1.0  ...     0.0    0.0      0.0
Tankowanie      0.0        0.0       0.0  ...     1.0    0.0      0.0
Towary          0.0        0.0       0.0  ...     0.0    1.0      0.0
Wylot           0.0        0.0       0.0  ...     0.0    0.0      1.0
Wyjscie         0.0        0.0       0.0  ...     0.0    0.0      0.0

[8 rows x 8 columns]

 Sprawdzanie sumy wierszami

Wejście       1.0
Lądowanie     1.0
Przegląd      1.0
Serwis        1.0
Tankowanie    1.0
Towary        1.0
Wylot         1.0
Wyjscie       0.0
dtype: float64

## LAMBDAS

In [124]:
lambda_we_r = [100, 120, 90]
p_tables_r = [p_shortdist, p_longdist, p_transport]
for p_table, lambda_we in zip(p_tables_r, lambda_we_r):
  print("---------------")
  print("lambda = ", lambda_we)
  display(pd.DataFrame(p_table))
  lambdas_ir = calculate_lambdas_ir(p_table, lambda_we)

  print(lambdas_ir)

---------------
lambda =  100

     0    1    2    3    4    5    6    7
0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.1  0.2  0.7  0.0  0.0
3  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
5  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
6  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
7  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[100.         111.11111111  11.11111111  22.22222222 100.
 100.        ]
---------------
lambda =  120

     0    1    2    3    4    5    6    7
0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.1  0.9  0.0  0.0  0.0
3  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
5  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
6  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
7  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[120.         133.33333333  13.33333333 120.         120.
 120.        ]
---------------
lambda =  90

     0    1    2    3    4    5    6    7
0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.1  0.7  0.2  0.0  0.0
3  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
5  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
6  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
7  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[ 90. 100.  10.  70.  90.  90.]